.main_header {
width: 100%;
background: url(../images/main_header.jpg) 0 0 repeat-x;
padding: 15px 5px 5px 100px;
margin-bottom:30px;
}

.toptext{
font-size: 20px;
font-weight: bold;
margin-left:40px;
margin-bottom:5px
}

.input-text, .input-text-red{
	
	margin: 0px 10px 0 5px;
	color: #565656;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: normal;	
	background: transparent;
	font-weight: bold;
	text-shadow: 0px 1px -1px #c2c2c2;
}
.input-text-red, .toptext{
color: #aa0f09;
}

.newstage{
	/*background: url(../images/button_newstage.png) no-repeat;*/
float:right
}

/*garantir o racio da imagem (nao ha distorções em termos de altura)*/
/*img{
max-width:100%;
height:auto!important 
}*/


#before_header {
float: left;
width: 100%;
background: white;
margin: 0 0 0 0px;
}

#content{width: 800px;  
width: 900px; 
  margin: 0 auto; }
  
iframe{
padding-top:  15px;
padding-bottom: 15px;
}

h4{
	font-size: 15px;
    font-weight: none;
	color: #151515
}

th{padding:10px}


.table-text-titles{
	 font-weight: bold;
	 font-size: 140%;
	 color:#acacac;
	 text-shadow: 0px 1px -1px #727272;
}

.leftcol{
	width:55%
}
.rightcol{
	float:right;
	width:40%
}