.main_header {
float: left;
width: 100%;
background: url(../images/main_header.jpg) 0 0 repeat-x;
padding: 5px 5px 5px 5px;

}

.toptext{
font-size: 20px;
font-weight: bold;
}

.input-text, .input-text-url{
	font-size: 120%;
	margin: 0px 10px 0 5px;
	color: #565656;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: normal;
	text-transform: uppercase;
	background: transparent;
	font-weight: bold;
	text-shadow: 0px 1px -1px #565656;
}
.input-text-url{
color: #aa0f09;

}