.main_header {
float: left;
width: 100%;
background: url(../images/main_header.jpg) 0 0 repeat-x;
padding: 15px 5px 5px 100px;
}

.toptext{
font-size: 20px;
font-weight: bold;
margin-left:40px;
margin-bottom:5px
}

.input-text, .input-text-red{
	font-size: 100%;
	margin: 0px 10px 0 5px;
	color: #565656;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: normal;	
	background: transparent;
	font-weight: bold;
	text-shadow: 0px 1px -1px #c2c2c2;
}
.input-text-red, .toptext{
color: #aa0f09;
}

.newstage{
	background: url(../images/button_newstage.png) no-repeat;
}

/*garantir o racio da imagem (nao ha distorções em termos de altura)*/
/*img{
max-width:100%;
height:auto!important 
}*/
