<!DOCTYPE html>

<html>
  <head>
    <title>Tubo Countdowm</title>
	<link rel="stylesheet" href="/css/main.css" type="text/css"  />
  </head>

  <body>
	<div class="main-title">Quality Procrastination</div>
	<hr>
	
	{% for counter in query.run(limit=10) %}
		<div class ="counter">
		
		<div class="counter-title">{{counter.title}}</div>
		<div class="counter-user">{{counter.user}}</div>
		<div class="counter-created">{{counter.created}}</div>
		<div class="counter-rate">{{counter.rate}}</div>	
		<div class="counter-description">{{counter.description}}</div>
		<div class="counter-govideo">{{counter.govideo}}</div><!--url link-->
		
		</div>
	{% endfor %}
	
  </body>
</html>
