<!DOCTYPE html>

<html>
  <head>
    <title>Tube CountDown</title>
	<link rel="stylesheet" href="/css/main.css" type="text/css"  />
	<link rel="stylesheet" href="/css/style.css" type="text/css"  />
  </head>


  <body>
  
	  <div id="before_header"> 
		<div class="main_header">
			<img src="../images/logo.png" height="25px">
			<span class="toptext">24 hour world domination</span></a>
		</div>
	  </div>
		
  
	<!--<h1>Tube Countdown</h1>
	 colocar letras giras do workshop responsive design-->
	<hr>
 
 <div id="content">
	
	  <a href="newpost" class="newstage">newstage</a>
	
	<table border="0">

	{% for counter in query.run(limit=10) %}
		

		<div class ="counter">
		<form method="post">
			<th><div class="counter-title">{{counter.title}}</div></th>			
			<th><div class="counter-user">{{counter.user}}</div></th>	
			<th><div class="counter-created">{{counter.created}}</div></th>	
			<th><div class="counter-rate">{{counter.rate}}</div></th>	
			<th><div class="counter-description">{{counter.description}}</div></th>	
			<!-- Place this tag where you want the +1 button to render. -->
			<th><div class="g-plusone" data-annotation="inline" data-width="300" data-href="{{counter.url}}"></div></th>	

			<!-- botao GO_URL-->

			<input type="hidden" name="stage_submit"  value="{{counter.key().id()}}">
			<input type="submit"  value="Watch">
		</form>	
		</div>
		
		</tr>
	{% endfor %}
	</table>
	
	</div>
	
	
	<!-- Place this tag after the last +1 button tag. -->
		<script type="text/javascript">
		  (function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/plusone.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	
  </body>
</html>
