<!DOCTYPE html>

<html>
  <head>
    <title>Tube CountDown</title>
	<link rel="stylesheet" href="/css/main.css" type="text/css"  />
	<link rel="stylesheet" href="/css/style.css" type="text/css"  />
  </head>


  <body>
  
  <div id="before_header"> 
    <div class="main_header">
		<img src="../images/logo.png" height="25px">
		<span class="toptext">24 hour world domination</span></a>
	</div>
</div>
	
  
	<!--<h1>Tube Countdown</h1>
	 colocar letras giras do workshop responsive design-->
	<hr>
 
 <div id="content">
	 <form method="post">
			
			<label>
				<!--SIGN in - Gooogle Authentication -->
				<div class="input-text">User</div>
				<input type="text" name="user" value="{{default_user}}">
				<div class="error">{{error_user}}</div>
			</label>
	 
			<label>
				<div class="input-text">Title</div>
				<input type="text" name="title" value="{{default_title}}">
				<div class="error">{{error_title}}</div>
			</label>
			
	 
			<label>
				<div class="input-text-url">ON AIR URL</div>
				<input type="text" name="url" value="{{default_url}}">
				<div class="error">{{error_url}}</div>
			</label>
			
			<label>
				<div class="input-text">Paypal (optional)</div>
				<img src="../images/paypal.jpg" height="30px">
				<!--TODO-->
				<input type="text" name="paypal" value="{{default_paypal}}">
				<div class="error">{{error_paypal}}</div>
			</label>
			
			
			<label>
				<div class="input-text">Stream description</div>
				<textarea name="description">{{default_description}}</textarea>
				<div class="error">{{error_description}}</div>
			</label>
			
			<input type="submit" value="Go Live!">
		</form>	
</div>
  </body>
</html>
