<!DOCTYPE html>

<html>
  <head>
    <title>Tube CountDown</title>
	<link rel="stylesheet" href="/css/main.css" type="text/css"  />
	<link rel="stylesheet" href="/css/style.css" type="text/css"  />
  </head>


  <body>
      <div class="main_header">
		<a href="/"><img src="../images/logo.png" height="25px"></a>
		<span class="toptext">24 hour world domination</span></a>
	</div>	
  
	<!--<h1>Tube Countdown</h1>
	 colocar letras giras do workshop responsive design-->
 
 <div id="content">

       <pre class="input-text-red">{{title}}</pre>
	   <div class="input-text">{{user}}</div>

		
		<iframe type="text/html" width="640" height="385" src="http://www.youtube.com/embed/{{url}}" frameborder="0"></iframe> <br>
		
		<iframe src="http://free.timeanddate.com/countdown/i3iy428d/n133/cf12/cm0/cu4/ct0/cs0/ca0/cr0/ss0/cac000/cpc000/pcfff/tcfff/fs100/szw320/szh135/tac000/tpc000/mac000/mpc000/iso2013-03-03T00:00:00" frameborder="0" width="103" height="48"></iframe>
		<br>
		
		<img src="../images/paypal.jpg" height="30px"><!--TODO-->
		
		<!-- Place this tag where you want the +1 button to render. -->
		<div class="g-plusone" data-annotation="inline" data-width="300" data-href="{{counter.url}}"></div>
	
			<label>
				<div class="input-text">Stream description</div>
				<h4>{{description}}</h4>
				<div class="error">{{error_description}}</div>
			</label>
	
		</form>	
		
		
</div>

		<!-- Place this tag after the last +1 button tag. -->
		<script type="text/javascript">
		  (function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/plusone.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
  </body>
</html>
